*{
    font-family: 'IBM Plex Sans', sans-serif;
    color: white;
}
body{
    background-color: #1E1E1E;
}
#main{
    width: 60%;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#title{
    font-size: 50px;
}

button{
    background-color: grey;
    outline: none;
    border: none;
    height: 30px;
}

input{
    height: 30px;
    border: none;
    outline: none;
    padding-top: 0px;
    padding-bottom: 0px;
    color: black;
}

select{
    height: 30px;
    border: none;
    outline: none;
    color: black;
}

option{
    color: black;
}

th, td{
    text-align: left;
    border: 1px solid white;
    padding: 5px;
    padding-right: 20px;
}

table{
    border-collapse: collapse;
}